.mat-form-field-wrapper {
  padding-bottom: 5px !important;
  font-size: larger !important;
}

.actions__ {
  font-size: 20px !important;
}

.mat-tab-label-content {
  text-transform: capitalize !important;
}



